.Gallery{
    display: flex;
    justify-content: space-around;
    align-items: center;
    //height: 100vh;
    overflow: hidden;
    .left{
        width: 100%;
        .card-container{
            display: flex;
            flex-wrap: wrap;
        }
    }
    .right{
        background: #333;
        width: 100%;
        img{
            width: 100%;
            height: auto;
            object-fit: cover;
            position: relative;
        }
    }
}